<section class="fondo">
<p class="titulo-portada"> Galery mäbello</p>
<div class="contenedor">
  <p>
    En Galery mäbello, nos apasiona ofrecerte lo mejor en diseño de muebles para
    transformar tu hogar o espacio de trabajo. Nuestra galería presenta una
    cuidada selección de piezas únicas que combinan funcionalidad, estilo y
    calidad, pensadas para satisfacer tus necesidades y gustos. Nos enorgullece
    ser tu aliado en la decoración, proporcionando no solo muebles, sino
    soluciones innovadoras que se adaptan a cada ambiente. Ya sea que busques un
    estilo moderno, clásico o algo en medio, nuestra galería está diseñada para
    inspirarte y ayudarte a dar vida a tus ideas.
    <br />
    <br />
    ¿Por qué elegirnos?
    <br />
    Variedad, desde muebles para interiores hasta opciones para exteriores,
    tenemos algo para cada espacio. calidad, Trabajamos con los mejores
    fabricantes y artesanos para garantizar productos duraderos. atención
    personalizada, nos importa que encuentres el mueble perfecto, por eso te
    ofrecemos un servicio cercano y personalizado. Explora nuestra galería, y
    deja que nuestros muebles hagan de tu espacio un lugar único.
  </p>
</div>

<p class="terminos">Términos y Condiciones</p>
<div class="contenedor-termino">
  <p>
    Al acceder a nuestro sitio web y realizar compras, usted acepta cumplir con
    los términos y condiciones establecidos en este documento. Si no está de
    acuerdo con alguna de las condiciones, le recomendamos que no utilice
    nuestros servicios. [Nombre de tu Galería de Muebles] ofrece una amplia
    variedad de muebles de diseño exclusivo, tanto para compra en línea como en
    nuestra galería física. Nos reservamos el derecho de modificar los
    productos, precios y promociones sin previo aviso. Para realizar una compra
    en línea, es necesario que el cliente se registre proporcionando información
    veraz y actualizada. Es responsabilidad del usuario mantener la
    confidencialidad de su cuenta y contraseña. El usuario será responsable de
    todas las actividades realizadas a través de su cuenta. Los precios de los
    productos están expresados en [moneda local] e incluyen impuestos, a menos
    que se indique lo contrario. Los métodos de pago disponibles son [listado de
    métodos de pago]. Nos reservamos el derecho de modificar los precios de los
    productos y servicios en cualquier momento. Los costos y tiempos de entrega
    varían dependiendo de la ubicación y la disponibilidad de los productos. Los
    plazos de entrega pueden ser aproximados y pueden estar sujetos a cambios
    debido a imprevistos logísticos. Las devoluciones de productos serán
    aceptadas dentro de un plazo de [X días] a partir de la fecha de compra,
    siempre que los productos estén en su estado original y sin uso. Los
    productos defectuosos o dañados durante el transporte serán reemplazados sin
    costo adicional. Todos los contenidos del sitio web, incluyendo imágenes,
    descripciones, logotipos, y diseño, están protegidos por derechos de autor y
    son propiedad de [Nombre de tu Galería] o de sus respectivos propietarios.
    Queda prohibida la reproducción o uso no autorizado de los mismos. [Nombre
    de tu Galería de Muebles] no se hace responsable por daños directos,
    indirectos, incidentales o consecuentes derivados del uso de nuestros
    productos, servicios o sitio web. Nos reservamos el derecho de modificar
    estos Términos y Condiciones en cualquier momento, publicando las
    modificaciones en nuestro sitio web. Los cambios serán efectivos en el
    momento de su publicación. Estos términos se regirán e interpretarán de
    acuerdo con las leyes de [país]. En caso de conflicto, las partes se
    someterán a la jurisdicción de los tribunales competentes de [ciudad o
    región].
  </p>
</div>
<p class="politica">Política de Privacidad</p>
<div>
  <p class="contenedor-politica">
    Estamos comprometidos con la protección de su privacidad. Esta Política de
    Privacidad describe cómo recopilamos, usamos, protegemos y compartimos su
    información personal cuando interactúa con nuestro sitio web y servicios.
    Recopilamos la siguiente información cuando usted visita nuestro sitio web o
    realiza compras: información personal como su nombre, dirección, correo
    electrónico y número de teléfono; información de pago (cuando realiza
    compras en línea); e información de navegación, como dirección IP, navegador
    y cookies. La información que recopilamos se utiliza para procesar y
    gestionar sus pedidos, enviar confirmaciones, actualizaciones de pedidos y
    facturas, mejorar la experiencia de usuario en nuestro sitio web, y ofrecer
    productos, promociones y servicios relacionados que puedan interesarle.
    Tomamos medidas razonables para proteger la seguridad de su información
    personal mediante el uso de tecnologías y protocolos estándar de la
    industria, como el cifrado en las transacciones de pago. Sin embargo, no
    podemos garantizar la seguridad absoluta en Internet. Utilizamos cookies
    para mejorar la funcionalidad del sitio web, personalizar su experiencia y
    analizar el tráfico del sitio. Puede configurar su navegador para rechazar
    las cookies, aunque esto puede afectar la experiencia en algunas áreas del
    sitio. No compartimos su información personal con terceros, salvo en los
    siguientes casos: con proveedores de servicios de pago y transporte para
    completar su pedido, o si estamos obligados por ley a hacerlo, o si es
    necesario para proteger nuestros derechos. Usted tiene el derecho de
    acceder, rectificar o eliminar cualquier información personal que tengamos
    sobre usted. Si desea ejercer cualquiera de estos derechos, por favor
    contáctenos a través de [correo electrónico]. Podemos actualizar nuestra
    Política de Privacidad de vez en cuando. Cualquier cambio será publicado en
    esta página y será efectivo inmediatamente después de su publicación. Si
    tiene alguna pregunta o inquietud sobre nuestra Política de Privacidad, por
    favor comuníquese con nosotros en [correo electrónico] o a través de
    [dirección física].
  </p>
</div>
<p class="creadora">
  Creadora de marca <br />
  &COPY; Valentina Restan
</p>

<section>
  <P class="preguntas">Preguntas Frecuentes</P>
  <p class="complemento">
    Aquí encontrarás respuestas a las preguntas más comunes que recibimos.
    <br />
    Estamos aquí para ayudarte.
  </p>
  <div class="preguntasuno">
    <p class="unonumero">01</p>
    <p class="preguntauno">¿Qué servicios de desarrollo web ofrecen?</p>
    <p class="respuestauno">
      Ofrecemos una variedad de servicios de desarrollo web, incluyendo el
      diseño y desarrollo <br />
      de sitios web personalizados, tiendas en línea, aplicaciones web,
      optimización de <br />
      rendimiento, mantenimiento de sitios, y más.
    </p>
  </div>
  <div class="preguntascuadro">
    <p class="dosnumero">02</p>
    <p class="preguntados">¿Cuánto tiempo toma desarrollar un sitio web?</p>
    <p class="respuestados">
      El tiempo depende de la complejidad del proyecto. Los sitios web más
      sencillos pueden estar <br />
      listos en unas pocas semanas, mientras que sitios más complejos (como
      tiendas en línea o aplicaciones web) pueden tomar varios meses.
    </p>
  </div>

  <div class="preguntascuadrotres">
    <p class="tresnumero">03</p>
    <p class="preguntatres">¿Qué tecnología utilizan para el desarrollo web?</p>
    <p class="respuestatres">
      Usamos tecnologías modernas y seguras para el desarrollo web, como HTML5,
      CSS3, JavaScript <br />
      y otras. Elegimos las tecnologías más adecuadas según las necesidades de
      cada proyecto para garantizar rendimiento, seguridad y facilidad de uso.
    </p>
  </div>
</section>

</section>
