
<img class="img-nosotros" src="letrero.png" alt="letrero">
<p class="subtitulo">Somos</p>
<p class="titulo">Galery mäbello</p>
<div class="contenedor">
    <p>En Galery mäbello, nos apasiona ofrecerte lo mejor en diseño de muebles para transformar tu hogar o espacio de trabajo. Nuestra galería presenta una cuidada selección de piezas únicas que combinan funcionalidad, estilo y calidad, pensadas para satisfacer tus necesidades y gustos.
Nos enorgullece ser tu aliado en la decoración, proporcionando no solo muebles, sino soluciones innovadoras que se adaptan a cada ambiente. Ya sea que busques un estilo moderno, clásico o algo en medio, nuestra galería está diseñada para inspirarte y ayudarte a dar vida a tus ideas.
<br>
<br>
¿Por qué elegirnos?
<br>
Variedad, desde muebles para interiores hasta opciones para exteriores, tenemos algo para cada espacio.
calidad, Trabajamos con los mejores fabricantes y artesanos para garantizar productos duraderos.
atención personalizada, nos importa que encuentres el mueble perfecto, por eso te ofrecemos un servicio cercano y personalizado.
Explora nuestra galería, y deja que nuestros muebles hagan de tu espacio un lugar único.</p>

</div>
<p class="creadora">Creadora de marca <br> &COPY; Valentina Restan</p>
