
<img
  class="img-tendencias-portada"
  src="tendenciasprinciapll.jpg"
  alt="tendencias"
/>
<p class="estilo">TOP</p>
<div class="cuadro"></div>
<p class="titulo-portada">TREND</p>
<div class="contenedor-producto">
  <a href="../../pages/products" class="btn-cole">Productos</a>
  <img href="../../colleciones" class="flecha" src="flecha.png" alt="flecha" />
</div>

<section>
  <h1>{{ productos.length }} productos</h1>
  <section class="productos">
    @for (producto of productos; track $index) {
    <div class="card" style="width: 18rem">
      <img
        src="{{ producto.imagen }}"
        class="card-img-top"
        alt="{{ producto.titulo }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ producto.titulo }}</h5>
        <p class="card-text">{{ producto.precio }}</p>
        <a href="#" class="btn btn-primary">{{ producto.material }}</a>
      </div>
    </div>
    }
  </section>